/* implement background color switching based on media queries:
    - GREEN for smartphones (width < 800px)
    - BLUE for tablets (800px < width < 1200px)
    - RED for desktops (width > 1200px)
*/

.background-switch {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    background: #00b800;
}

@media screen and (min-width: 801px){
    .background-switch {
        background: #0000b8;
    }
}

@media screen and (min-width: 1201px) {
    .background-switch {
        background: #b80000;
    }
}
