.content, .sidebar {
    font-family: sans-serif;
    font-size: 2em;
    color: #fff;
    padding: 7em 0;
    text-align: center;
}
.content {
    background: #b80000;
}

.sidebar {
    background: #00b800;
}

@media screen and (min-width: 801px) {
    .content {
        float: left;
        width: 66.6666%;
    }

    .sidebar {
        float: right;
        width: 33.3333%;
    }
}

/* implement layout degradation (the sidebar goes down) when width < 800px */
